html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'supermarket';
    src: url('@/assets/fonts/supermarket.ttf') format('truetype');
    /* ระบุพาธไปยังไฟล์ฟอนต์ที่เพิ่ม */
    font-weight: normal;
    font-style: normal;
}

#app {
    font-family: ChakraPetch-Regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 13px;
}
.app-container {
    padding: 20px 20px 10px 20px;
}

button {
    font-family: inherit;
    font-size: inherit;
    /* ใช้ฟอนต์จาก #app */
    /* สไตล์อื่น ๆ ที่คุณต้องการใช้งานในปุ่ม */
}
